#formaFiltra {
	margin: 0;
	padding: 8px;
}

#etosFiltro {
	width: 5em;
}

#pergrafiFiltro {
	width: 20em;
}

#mathimataWrapper {
	padding: 1em;
}

#mathimata {
	width: 100%;

	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

#mathimata td {
	padding: 0.2em;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

#mathimata > tr:nth-child(odd) {
	background-color: #fffae7;
}

#mathimata > tr:nth-child(even) {
	background-color: #fff7d8;
}

#mathimata > tr:hover {
	background-color: #ffd67b;
	cursor: pointer;
}

.mathimaTrexon {
	background-color: yellow !important;
}

#mathimaDialog {
	padding: 0.2em;
	background-color: #fffeee;
}

#mathimaForma {
	margin: 0;
}

#mathimaFormaId {
	width: 8em;
}

#mathimaFormaPerigrafi {
	vertical-align: top;
	width: 28em;
	resize: none;
}

#confirmDeleteText {
	padding: 0.4em;
}
