#formaFiltra {
	margin: 0;
	padding: 8px;
}

#etosFiltro {
	width: 4em;
}

#pergrafiFiltro {
	width: 20em;
}

#idFiltro {
	width: 6em;
}

#mathimataWrapper {
	padding: 1em;
}

#mathimata {
	width: 100%;

	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

#mathimata td {
	padding: 0.2em;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

#mathimaDialog {
	padding: 0.2em;
	background-color: #fffeee;
}

#mathimaForma {
	margin: 0;
}

#mathimaFormaTabs {
	display: inline-block;
	float: right;
}

#mathimaFormaTabs > .tab {
	margin: 0 0.5em;
	vertical-align: middle;
}

#mathimaFormaId {
	width: 6em;
}

#mathimaFormaPerigrafi {
	vertical-align: top;
	width: 28em;
	resize: none;
}

#confirmDeleteText {
	padding: 0.4em;
}
