#isodosForma {
	position: absolute;
	top: 100px;
	right: 100px;
}

.prompt {
	margin: 4px 4px 4px 0px;
}

#login,
#password {
	width: 12em;
}

#panel {
	margin-top: 8px;
	text-align: center;
}

#panel input {
	width: auto;
	margin: 0px 16px;
}
