#egrafiForma {
	position: absolute;
	top: 100px;
	right: 100px;
	padding-bottom: 0.2em;
}

#onomateponimo {
	width: 20em;
}

#login,
#password1,
#password2 {
	width: 12em;
}

#panel {
	margin-top: 8px;
	text-align: center;
}

#panel input {
	width: auto;
	margin: 0px 16px;
}
